/* STYLES AFTER CLICKING A CONTAINER */
.new-container::-webkit-scrollbar {
  display: none;
}
.new-clicked-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 0;
  background-color: #2b2b2b;
  position: sticky;
  top: 0;
  z-index: 100;
}
.new-icons {
  font-size: 2.4rem;
  color: white;
  cursor: pointer;
}
.arrow-pic-name {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-left: 1rem;
}
.arrow-pic-name p {
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}
.clicked-image {
  cursor: pointer;
}
.new-icons-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 1.5rem;
}
.new-container-message {
  color: white;
  text-align: center;
}
.message-send-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow-y: auto;
}
.message-send-container::-webkit-scrollbar {
  display: none;
}
.text-container {
  margin-top: 1.5rem;
  color: white;
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: auto;
}
.user-container,
.user-received-container {
  background-color: #006900;
  align-self: end;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 2rem 1rem;
  position: relative;
  max-width: 22rem;
  min-width: 20%;
  line-height: 1.6;
  font-size: 1.5rem;
}
.user-container {
  min-width: 25%;
  word-wrap: break-word;
}
.user-texts + p {
  justify-self: center;
}
.user-timer,
.user-received-timer {
  font-size: 1.4rem;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #868686;
}
.user-received-timer {
  right: 5px;
}
.user-timer {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.user-received-container {
  align-self: start;
  background-color: #444444;
  line-height: 1.4;
}
.user-received-container img {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
  border-radius: 0;
}
.input-container {
  position: relative;
  width: 95%;
}
.input-mic-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
}
.input {
  width: 100%;
  padding: 1.2rem 2rem 0.5rem 2rem;
  height: 4rem;
  outline: none;
  font-size: 1.5rem;
  border-radius: 20px;
  border: none;
  background-color: #333;
  color: white;
  word-wrap: break-word;
  resize: none;
}
.input::-webkit-scrollbar {
  display: none;
}
.input::placeholder {
  color: white;
}
.send-container {
  display: flex;
  align-items: center;
  background-color: #4eff62;
  padding: 0.5rem;
  font-size: 2.5rem;
  color: black;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}
.user-received-container.voice-container .voice-message {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.user-received-container.voice-container #voice-icon {
  padding: 1rem;
  background-color: #333;
  font-size: 2rem;
  border-radius: 50%;
}
.removed-message {
  color: #999;
  font-size: 1.3rem;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: #333;
  align-self: center;
  border-radius: 30px;
}
