.icons a {
  color: white;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(95, 95, 95);
  padding: 1.5rem 1rem;
  /* height: 50px; */
  position: sticky;
  top: 0;
  z-index: 99;
}
header .whatsapp {
  color: white;
  font-size: 22px;
  padding-left: 10px;
}
header .icons {
  display: flex;
  gap: 20px;
  font-size: 19px;
  padding-right: 4px;
}
.icon-texts {
  display: flex;
  justify-content: space-around;
  /* gap: 65px; */
  background-color: rgb(95, 95, 95);
  font-size: 17px;
  padding-top: 7px;
  padding-bottom: 9px;
}
.icon-texts p {
  color: rgb(211, 211, 211);
}
.chats {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
